/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BODY */
body {
  margin: 0;
  padding: 0;
  background: #f8fafc; 
}

/* LINKS */
a {
  text-decoration: none;
}